<h1></h1>
<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<div class="links">
<%= link_to 'Show', @article, class: "link" %> |
<%= link_to 'Back', root_path, class: "link" %>
</div>
