.home-banner {
  background-image: asset_url('white.jpg');
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  margin:0;
}