.card-category{
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.container{
  margin-top: 50px;
  margin-bottom: 50px;
}

.links{
  text-align: center;
  align-items: center;
}

.link{
  color: gray;
}


.back{
  text-align: center;
  color: darkgrey;
}

.option{
  color: darkgray;
}

h1{
  margin-top: 60px;
}

.articles{
  margin-top: 50px;
}